<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Login </title>
	<!-- Bootstrap core CSS -->
	<link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Fontawesome CSS -->
	<link href="../static/css/all.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="../static/css/styles.css" rel="stylesheet">
	<style>
		input[type="text"]:focus,
		input[type="password"]:focus,

		.uneditable-input:focus {
			/* border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(255, 50, 50, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none; */
			outline: 1px solid black;
			border: none;
			box-shadow: none;
		}

		input[type="text"],
		input[type="password"] {
			border: none;
			outline: none;
			border-bottom: 1px solid black;
		}
	</style>
</head>

<body>

	<div class="container ">
		<div class="d-flex justify-content-center align-items-center my-5 ">

			<form class="p-5 bg-secondary-emphasis shadow-lg w-40 w-sm-25 rounded ">
				<h2 class="text-success fs-1 text-center border-bottom py-2 ">Login</h2>
				<div class="mb-4">
					<label for="exampleInputEmail1" class="form-label">Username</label>
					<input type="text" class="form-control" id="uname" aria-describedby="emailHelp">
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label">Password</label>
					<input type="password" class="form-control" id="pwd">
				</div>
				<div class="mb-3 form-check text-center">

					<button type="button" class="btn btn-primary w-auto w-sm-25  fs-5" onclick="login()">Login</button>
				</div>
			</form>
		</div>
	</div>

	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}

		function login() {
			var uname = document.getElementById("uname").value;
			var pwd = document.getElementById("pwd").value;

			if (uname == "admin" && pwd == 123) {
				alert("Login Success!");

				window.location = "{{url_for('index')}}";
				return false;
			}
			else {
				alert("Invalid Credentials!")
			}
		}
	</script>
	<!-- Bootstrap core JavaScript -->
	<script src="../static/vendor/jquery/jquery.min.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>